@charset "utf-8";
@import url("Landing Page css.css");
/* CSS Document */





.d-block {
	height: 5
		50px;
	width: 1350px;
}

.HEADING {
	margin-left: 550px;
	align-content: center;
	color: gray;
	font-family: 'Josefin Sans', sans-serif;
}

.col-lg-4 {
	margin-left: 150px;
	
	
}

.card-title {
font-family: 'Josefin Sans', sans-serif;
color: gray;
font-size: 20px;
	
}

.SHOPNOWBUTTON {
	color: white
		text: bol
}
